.children {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.App {
  background-image: url("https://cdn.pixabay.com/photo/2016/05/26/14/11/chef-1417239_1280.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}
